import(lassoshooting)
export(epocA)
export(epocG)
export(epoc.lambdamax)
export(epoc.bootstrap)
export(write.sif)
S3method(coef, EPOCA)
S3method(coef, EPOCG)
S3method(predict, EPOCA)
S3method(predict, EPOCG)
S3method(summary, EPOCA)
S3method(summary, EPOCG)
S3method(print, summary.EPOCA)
S3method(print, summary.EPOCG)
S3method(print, EPOCA)
S3method(print, EPOCG)
S3method(plot, EPOCA)
S3method(plot, EPOCG)
export(as.graph.EPOCA)
export(as.graph.EPOCG)
export(as.igraph.EPOCA)
export(as.igraph.EPOCG)
export(plapply)

